<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Address Book</title>
</head>
<body>
    <h1 th:text="'Showing Address Book ' + ${id}"/>

    <h2> Buddies: </h2>
<!--    <ul>-->
<!--        <li th:each="buddy : ${buddies}" th:text="${buddy}"></li>-->
<!--    </ul>-->
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Address</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="buddy : ${buddies}">
            <td th:text="${buddy.getId()}"></td>
            <td th:text="${buddy.getName()}"></td>
            <td th:text="${buddy.getPhoneNumber()}"></td>
            <td th:text="${buddy.getAddress()}"></td>
        </tr>
        </tbody>
    </table>

</body>
</html>